<h1>Compenente de Coches</h1>
<div class="" style="float: left">
<form #formCoche="ngForm" (ngSubmit)="onSubmit(); formCoche.reset()">
    <p><label for="nombre">Nombre:</label>
        <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required>
        <span *ngIf="nombre.touched && !nombre.valid">El nombre del coche es incorrecto</span>
    </p>
    <p><label for="">Caballaje:</label>
        <input type="text" name="Caballaje" #caballaje="ngModel" [(ngModel)]="coche.caballaje" required pattern="[0-9]+">
    <span *ngIf="caballaje.touched && !caballaje.valid">El caballaje del coche es incorrecto</span>
    </p>
    <p><label for="">Color:</label>
        <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" required pattern="[a-zA-Z]+">
    <span *ngIf="color.touched && !color.valid">El color del coche es incorrecto</span>
    </p>
    <input type="submit" name="" id="" value="Guardar" [disabled]="!formCoche.form.valid">
</form>
</div>
<div class="listado">
    <h4>Listado de Coches</h4>

    <ul>
        <li *ngFor="let coche of coches">
            {{coche.nombre}} - {{coche.caballaje}} - {{coche.color}}
        </li>
    </ul>
</div>

<div class="listado">
    <h3>Listado de Coches</h3>
    <ul *ngIf="articulos">
        <li *ngFor="let articulo of articulos">
            {{articulo.id}} - {{articulo.title}}
        </li>
    </ul>
    <span *ngIf="!articulos">Cargando...</span>
</div>