<h1>{{title}}</h1>


<div *ngIf="trabajador_externo == true">
    
    <button (click)="cambiarExterno(false)">Mostrar Trabajador</button>
    <ul>
        <li>{{trabajadores[0].name}}</li>
        <li>{{trabajadores[0].age}}</li>
        <li>{{trabajadores[0].position}}</li>
        <li>{{trabajadores[0].hired}}</li>
    
    </ul>
</div>
<hr>
<div *ngIf="trabajador_externo == false">
    <button (click)="cambiarExterno(true)">Mostrar empleado</button>
    <ul>
        <li>{{empleado.name}}</li>
        <li>{{empleado.age}}</li>
        <li>{{empleado.position}}</li>
        <li>{{empleado.hired}}</li>

    </ul>
</div>

<hr>
<h3>Listado de empleados</h3>

<ul>
    <li *ngFor="let empleado of trabajadores; let i = index">
        <b>Empleado {{i + 1 }}</b>
        <br>
        <br>
        <ul>
            <li>{{empleado.name}}</li>
            <li>{{empleado.age}}</li>
            <li>{{empleado.position}}</li>
            <li>{{empleado.hired}}</li>
        </ul>
        <br>
        <br>
    </li>
</ul>

<hr>

<h3>selector de colores</h3>
<button (click)="logColorSeleccionado()">Mostrar Log</button>
<input type="text" [(ngModel)]="color_seleccionado">


<pre 
    [style.border]="color_seleccionado == 'red' ? '5px solid black' : '1px solid green'"
    [ngClass]="{
        fondoAzul: color_seleccionado == 'blue'
    }"
>
    <b>Color elegido</b>
    {{color_seleccionado}}
</pre>
<div [ngStyle]="
        {
            'background':color_seleccionado, 
            'width': '200px',
            'height': '200px',
            'float': 'right',
            'margin-right': '20px'
        }"></div>
<div style="clear: both"></div>
<hr>

<h3>Colores Switch</h3>

<ul [ngSwitch]="color">
    <li *ngSwitchCase="'red'" [ngStyle]="
        {
            'background':color, 
            'color': 'white',
            'padding' : '10px'
        }">
        es de color ROJO
    </li>
    <li *ngSwitchCase="'green'" [ngStyle]="
        {
            'background':color, 
            'color': 'green',
            'padding' : '10px'
        }">
        es de color VERDE
    </li>
    <li *ngSwitchCase="'blue'" [ngStyle]="
        {
            'background':color, 
            'color': 'blue',
            'padding' : '10px'
        }">
        es de color AZUL
    </li>
</ul>