<h4>{{titulo}}</h4>


<div *ngIf="administrador; then admin else noAdmin"></div>


<hr>
<ng-template #admin>
    <button (click)="cambiar(false)">cambiar</button>
    <strong>Eres la administrador de la webappp</strong>
</ng-template>

<ng-template #noAdmin>
        <button (click)="cambiar(true)">cambiar</button>

    <strong>NO Eres la administrador de la webappp</strong>
</ng-template>