<hr>
<nav>
    <a [routerLink]="['/home']" [routerLinkActive]="['active']">
        Home
    </a> - 
    <a [routerLink]="['/fruta']" [routerLinkActive]="['active']">
        Fruta
    </a> - 
    <a [routerLink]="['/empleado']" [routerLinkActive]="['active']">
        Empleado
    </a> - 
    <a [routerLink]="['/coches']" [routerLinkActive]="['active']">
        Coches
    </a> -
    <a [routerLink]="['/plantillas']" [routerLinkActive]="['active']">
        Plantillas
    </a>
</nav>
<hr>
<!--<app-fruta></app-fruta>-->
<!-- <app-empleado></app-empleado> -->
<router-outlet></router-outlet>