<h2>{{title}}</h2>

<br>
{{fecha|date:'dd/MM/yyyy'}}
-
{{fecha|date:'fullDate' | uppercase }}
-
{{nombre | uppercase}}
-
{{5 | conversor: 7}}
<br>
<br>


<input type="text" [(ngModel)]="prenda_a_guardar">
<button (click)="guardar_prenda()">añadir prenda</button>
<p *ngIf="prenda_a_guardar">la prenda a guardar es: <b>{{prenda_a_guardar}}</b></p>
<h3>Listado de prendas de ropas</h3>
<ul>
    <li *ngFor="let prenda of listado_ropa; let i = index">
        {{prenda}}
        <button (click)="eliminarPrenda(i)">Eliminar</button>
    </li>
</ul>